[submodule "src/libs/input-cpp"]
	path = src/libs/input-cpp
	url = https://github.com/ahmedmohamed05/input-cpp.git
[submodule "src/libs/util"]
	path = src/libs/util
	url = https://github.com/ahmedmohamed05/utils.git
